<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="header">

    <a class="navbar-brand">MovieApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/popularmovies">Popular Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Movies in theatre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup">Register</a>
            </li>
            <li id="dropdown" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User Name
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item">logout</a>
                    <a class="dropdown-item">settings</a>
                    <a class="dropdown-item">Support Us</a>
                </div>


            </li>


        </ul>
    </div>


</nav>