    <header>
        <h1 >
            <marquee> Welcome to the Movie App </marquee>
            <p>Where there's a solution to all the movie issues you can ever encounter</p>
        </h1>
        <nav id='cssmenu'>
        <div class="left"><a>MOVIE-APP </a></div>
        <div id="head-mobile"></div>
        <div class="button"></div>
    <ul>
        <li class='active'><a href='#'>&#9776;</a></li>
        <li><a href='#'>ABOUT</a></li>
        <li><a href='#'>BIO</a></li>
    <li>  <a routerLink="/popularmovies"> MOVIES </a></li>
        <li><a href='#'>GALLERY</a></li>
        <li><a href='#'>CONTACT</a></li>
        <li><a routerLink="/login"> Login </a> </li>
      <li>  <button class=" btn btn-primary " routerLink="/signup"> Register </button></li>
        <li><a href='#'>PROFILE</a>
            <ul>
               <li><a href='#'>Settings</a> </li>
               <li><a href='#'>Support-US</a></li>
               <li><a href='#'>Logout</a></li>
            </ul>
         </li>
    </ul>
        </nav>
        </header>
       