
<div *ngIf="isLoading">
    <app-spinner> </app-spinner>
</div>

<div class ="alert alert-warning" *ngIf="successfulSignup">
    <p> <i class="fas fa-check"></i> {{ successfulSignup }}</p>
</div>
<div  class= "alert alert-danger "*ngIf="error">
    <p> <i class="fas fa-times"></i> {{ error }}</p>
</div>
<form #authForm="ngForm" (ngSubmit)= onSubmit(authForm)>
    <div class="form-group">
<h2 for="email">Email</h2>
<input type="email" placeholder="Email" name="email"  ngModel required email>
</div>
<div class="form-group">
<h2 for="password">Password</h2>
<input name="password"type="password" placeholder="password" required maxlength="8" minlength="6"ngModel>
</div>
<div class="form-group">
<button class="btn btn-primary" type=
"submit"  [disabled]="!authForm.valid" >Login </button>
</div>
signin instead with <button class="btn btn-primary"> facebook</button> or <button class="btn btn-primary"><i class="fa fa-google" aria-hidden="true"></i>Gmail</button>
<small>forgot password?<button class="btn btn-danger" > Remember me</button></small>
<small>dont have an account?<button class="btn btn-primary" > Register here</button></small>
</form> 