<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">

            <div class="container-fluid ">
                <h1 class="bg-secondary">
                    <marquee> Popular Movies</marquee>
                </h1>

                <div class="row">
                    <div class="bg-dark text-light card col-sm-6 col-md-3 col-lg-3"
                        *ngFor="let PopularMovie of popularmovie">

                        <img [src]="image + PopularMovie.poster_path " class="card-img-top" alt="no image">
                        <div class="card-body">
                            <div class="class-text">
                                <h3>{{PopularMovie.title}}</h3>
                                <h4>Release Date:{{PopularMovie.release_date}}</h4>
                                <button class="btn btn-success">view details</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

</div>
<input placeholder="Popular movies" name="server" type="text">
<!-- <button [disabled]="!addPopularMovie" (click)=addpopularmovies() class="btn btn-primary">Add movie</button> -->
<!-- {{ addPopularMovie }} -->
<!-- <div class="panel-default" *ngFor="elements of serverElement">
    <div class="panel-heading">
        {{element.name}}
    </div> -->
    <div class="panel-body">
        <!-- <em *ngIf="element.type==='server'">{{element.content}}</em> -->
    </div>
</div>